{{outlet}}
<div class="d-print-block">{{pluralize model.countActive "Aucun service sélectionné" "service sélectionné" "services sélectionnés"}}</div>
<ul class="list-group">
  {{#each model.services as |service|}}
    <li class="{{if service.active 'list-group-item active' 'list-group-item'}}" {{action "toggleActive" service}}>{{service.name}} {{service.price}}</li>
  {{/each}}
</ul>
<br/>
<div>Montant total : {{model.sumActive}}</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  {{input class="form-control" value=model.codePromo}}
</div>


<div>{{model.txReduction}}</div>