
<br>
<div class="ui container  one column centered grid">
  <div class="ui two column centered grid four column row">
    {{#link-to "projects.new"}}
      <button class="ui button" actions>Nouveau projet</button>
    {{/link-to}}

  </div>
  {{outlet}}
  <table class="ui collapsing celled structured table">
    <thead>
    <tr colspan="2">
      <th>Nom</th>
      <th>Descriptif</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Propriétaire</th>
      <th></th>

    </tr>
    </thead>

    <tbody>

    {{#each model.projects as |project|}}
      <tr>
        <td> {{project.name}} </td>
        <td> {{project.description}} </td>
        <td> {{ moment-format project.startDate 'DD/MM/YYYY' }} </td>
        <td> {{ moment-format project.dueDate 'DD/MM/YYYY' }} </td>
        <td> {{project.owner.identity }} </td>



        <td>
          {{#link-to "projects.edit" project class="ui icon circular basic button"}}
            <i class="ui icon edit"></i>
          {{/link-to}}
          <button {{action "confirmSupp" model project}} class="ui icon  inverted red circular button">
            <i class="ui icon delete"></i>
          </button>
        </td>
      </tr>
    {{/each}}

    </tbody>
  </table>

  {{#if model.suppr}}
    <div class="ui one column centered grid three column row ">
      Supprimer '{{model.projectTmp.name}}' ?
      {{#link-to "projects"}}
        <br><br>
        <button class="ui green button  " {{action "delete" model model.projectTmp}}> <i class="check icon"></i>Oui</button>
      {{/link-to}}
      {{#link-to "projects"}}
        <button class="ui  red button"{{action "cancel" model}}> <i class="cancel icon"></i>Annuler</button>
      {{/link-to}}
    </div>
  {{/if}}


</div>
